// Typography
$font_family_default: 'Proxima Nova', Verdana, sans-serif;
$font_size_default: 14px;
$font_line_height_default: 1.5;

// Colors
$color_orange_brand: #FF6600;
$color_orange_light: #FF9900;
$color_blue_dark: #04243D;
$color_blue_light: #199CFF;
$color_grey_dark: #92989f;
$color_grey_medium: #D0D8E3;
$color_grey_light: #EEF1FA;
$color_grey_super_light: #F8FAFF;

// Grid
$website_centered: true;
$container_size: 980px;
